{{ range . }}
<div>
<h1>{{ .Display }}</h1> 

{{if .IsLocal}}
	<a href="/api/task/vagrant/{{.Name}}">Run Vagrant</a>
{{ else }}
	<a href="/api/task/local/{{.Name}}">Run Local</a><br/>
{{ end }}
<a href="/api/task/start/{{.Name}}">Start Service</a><br/>
<a href="/api/task/stop/{{.Name}}">Stop Service</a><br/>

<!-- <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p> -->
</div>
{{end}}
